@font-face {
    font-family: "bold";
    src: url(font/myfont1.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "normal";
    src: url(font/myfont2.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "medium";
    src: url(font/myfont3.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;         
}

/* main */

.main {
    max-width: 430px;
    min-height: 597px;
    background-color: rgba(248, 248, 248, 1);
    overflow: hidden;
    padding: 16px;

}

@media (min-width: 780px) {
    .main {
        padding: 24px;
    }
}

@media (min-width: 1024px) {
    .main {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.main__menu {
width: 100%;
}

.main__title {
    font-family: bold;
    border-left: 5px solid rgb(60, 226, 255);
    width: 304px;
    height: 40px;
    top: 112px;
    padding-left: 10px;
}

.main__scroll {
    display: flex;
    max-height: 40px;
    top: 176px;
    left: 16px;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    white-space: nowrap;

}

.btn {
    border: none;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    height: 40px;
    font-family: normal;
    font-size: 16px;
    align-items: center;
    scroll-snap-align: start;
}

.btn:active {
    background-color: rgb(194, 253, 253);
}

.first {
    border: 1px solid rgb(126, 225, 243);
}

/* убрать скролл в хроме
.main__scroll::-webkit-scrollbar {
    display: none;
} */



.text {
    padding: 10px;
    font-family: normal;
}

.more {
    display: flex;
    padding-left: 10px;
}

.more__icon {
    margin-right: 5px;
}

.more__button {
    width: 150px;
    height: 25px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
}

.more__text {
    font-size: 16px;
    font-family: medium;
}

.under {
    margin: 10px 0;
}

.under__img {
width: 100%;
}