@font-face {
    font-family: "bold";
    src: url(font/myfont1.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "normal";
    src: url(font/myfont2.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "medium";
    src: url(font/myfont3.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;         
}

.container {
    margin: 0 auto;
    background-color: #F8F8F8;
    min-height: 100vh;
}

/* шапка */
.mob-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.tablet-nav {
    display: none;
}

.mob-nav__btn {
    border-style: none;
    background-color: inherit;
}




.second-img {
    display: none;
}

.header__title {
    font-family: bold;
    border-left: 2px solid #41F6D7;
    padding-left: 10px;

}

.services {
    display: flex;
    width: 100%;
    min-height: 40px;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    white-space: nowrap;
}

.item {
    height: 40px;
    width: auto;
    padding: 0 20px;
    font-family: normal;
    font-size: 14px;
    border-style: none;
    border-radius: 2px;
    background-color: #F8F8F8;

}

.services__item--blue{
    background-color: white;
    border: 1px solid #B8FFEC;
    margin-left: 10px;
}

.desktop-btns {
    display: none;
}

/* убрать скролл в хроме
.main__scroll::-webkit-scrollbar {
    display: none;
} */

.text {
    padding: 15px 10px;
    font-family: medium;
}

.invisible__text {
    display: none;
}

.desktop-btns {
    display: none;
}

.read-more__btn {
    display: flex;
    margin: 10px;
    gap: 10px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    font-family: medium;
    font-size: 15px;
    align-items: center;
}

.bottom {
    margin: 10px 0;
}

.bottom__img {
    width: 100%;
}

/* планшет */
@media (min-width: 768px) {

.main {
    display: flex;
    gap: 30px;
}

.mob-nav {
    display: none;
}


.tablet-nav {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tablet-nav__left,
.tablet-nav__right {
    display: flex;
    gap: 10px;
}

.services {
    width: 100%;
}

.read-more__btn {
    white-space: nowrap;

}

.text-block {
    flex: 1;
}

.bottom {
    flex: 1;
    padding-right: 20px;
}

.bottom__img {
    width: 100%;
    height: auto;
}
}


/* десктоп */
@media (min-width: 1024px) {

.tablet-nav {
    display: none;
}

.header__second-img {
    display: none;
}

.invisible__text {
    display: block;
}
    
.desktop {
    display: flex;
    justify-content: space-between;
}

.desktop-btns {
    display: flex;
    padding-right: 20px;
}

.btn__desktop-btn {
    display: flex;
    margin-right: 10px;
    font-family: medium;
    align-items: center;
    gap: 10px;
}

.services {
    width: 100%;
    padding-top: 20px;
}

.item {
    width: 100%;
}

.bottom {
    padding-right: 20px;
}
}
